@inherits LayoutComponentBase

<div class="main">
    <header class="bg-primary">
        <NavMenu />
    </header>
    <div class="container pr-0 pl-0">
        <div class="content">
            @Body
        </div>
    </div>
</div>
