<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="">Make it So!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MainNavbar" aria-controls="MainNavbar"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="MainNavbar">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="ipsum">
                        StarTrek Ipsum
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="http://blog.jeroenbekker.nl" target="_blank" class="nav-link">Blog</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="about">
                        About
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
