@page "/About"

<div class="row">
    <div class="col-12">
        <h1>About</h1>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <p>I am a software developer based in the Netherlands who specializes in cloud native development in Azure.</p>
    </div>
    <div class="col-4">
        <div class="card border-primary mb-3">
            <div class="card-header"><h4 class="card-title d-flex flex-column">Useful links</h4></div>
            <div class="card-body">
                <div class="mb-1"><a href="https://blog.jeroenbekker.nl">my old blog</a></div>
                <div class="mb-1"><a href="mailto:jeroen@jeroenbekker.nl">Contact me</a></div>
                <div class="mb-1"><a class="card-link" href="https://blazor.net">about Blazor</a></div>
            </div>
        </div>
    </div>
</div>

@code {

}
