@page "/"
<div class="row">
    <div class="col-12">
        <h1>Hello and welcome to my world of experimentation</h1>
    </div>
    <p>This website is made using <a href="https://Blazor.net" target="_blank">Blazor</a> a new framework by microsoft.</p>
    <p>Blazor currently features one RTM version, for server. This edition handles all client logic on the server and uses another Microsoft technology called <a href="https://dotnet.microsoft.com/apps/aspnet/signalr" target="_blank">SignalR</a> to communicate effectively between client and server in an asynchronous manner.</p>
    <span>Feel free to contact me if you wish to know more: </span>
    <a href="mailto:jeroen@jeroenbekker.nl">Contact me</a>
</div>